<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/postBox.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Profile</title>
</head>

<body>

    <header>
        <%- include('../views/header'); %>
    </header>

    <main>
        <div class="container-lg mt-4">
            <div class="row">
                <!--Div for profile -->
                <div class="col-md-5 col-lg-4 bg-white">
                    <div class="m-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="edit">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                        data-bs-target="#editProfileModal">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="editProfileModal" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <form action="/jobPosterProfile/jobPosterProfileInfo" method="POST"
                                                    enctype="multipart/form-data">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">Edit profile
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="mb-3">
                                                            <label for="name" class="form-label">Name</label>
                                                            <input class="form-control" id="name" name="name"
                                                                value="<%= profileInfo[0].name %>">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="profile-picture" class="form-label">Profile
                                                                Picture</label>
                                                            <input class="form-control mb-3" type="" id="name"
                                                                name="image" value="<%= profileInfo[0].image %>">
                                                            <input type="file" class="form-control" id="profile-picture"
                                                                name="picture" accept=".png, .jpg, .jpeg">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="bio" class="form-label">Bio</label>
                                                            <textarea class="form-control" id="bio" rows="3"
                                                                name="bio"> <%= profileInfo[0].bio %> </textarea>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="description"
                                                                class="form-label">Description</label>
                                                            <textarea class="form-control" id="description" rows="5"
                                                                name="description"> <%= profileInfo[0].description %> </textarea>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="address" class="form-label">Address</label>
                                                            <input type="text" class="form-control" id="address"
                                                                name="address" value="<%=profileInfo[0].address %>">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="email" class="form-label">Email</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text"><i
                                                                        class="fas fa-envelope"></i></span>
                                                                <input type="email" class="form-control" id="email"
                                                                    name="email" value="<%=profileInfo[0].email %>">
                                                            </div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="facebook" class="form-label">Facebook</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text"><i
                                                                        class="fab fa-facebook"></i></span>
                                                                <input type="text" class="form-control" id="facebook"
                                                                    name="facebook"
                                                                    value="<%=profileInfo[0].facebook %>">
                                                            </div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="linkedin" class="form-label">LinkedIn</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text"><i
                                                                        class="fab fa-linkedin"></i></span>
                                                                <input type="text" class="form-control" id="linkedin"
                                                                    name="linkedin"
                                                                    value="<%=profileInfo[0].linkedin %>">
                                                            </div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="twitter" class="form-label">Twitter</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text"><i
                                                                        class="fab fa-twitter"></i></span>
                                                                <input type="text" class="form-control" id="twitter"
                                                                    name="twitter" value="<%=profileInfo[0].twitter %>">
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column align-items-center text-center mt-5">
                                    <img src="<%= profileInfo[0].image %>" alt="Admin" class="rounded-circle"
                                        width="150" height="150">
                                    <div class="mt-3 text-black">
                                        <h4>
                                            <%= profileInfo[0].name %>
                                        </h4>
                                        <p class="mb-1 text-black-50">
                                            <%= profileInfo[0].bio %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <table class="table border-white text-black-50">
                                    <tr>
                                        <td class="d-inline-block" scope="row"> <i
                                                class="fa-solid fa-location-dot d-inline-block me-3"></i>From</td>
                                        <td scope="row">
                                            <%= profileInfo[0].address %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row " class="d-inline-block"><i
                                                class="fa-solid fa-user me-3"></i>Joined</td>
                                        <td scope="row">
                                            <%= new Date(profileInfo[0].createTime).toDateString("MM YYYY") %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card mt-3">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title  ">Description</h5>
                                    <p class="card-text my-4 text-black-50">
                                        <%= profileInfo[0].description %>
                                    </p>
                                </div>
                                <hr>
                                <div class="my-4">
                                    <h5 class="card-title">Linked Accounts</h5>
                                    <ul class="list-group">
                                        <li class="list-group-item border-0 text-black-50">
                                            <i class="fa-solid fa-envelope me-3"></i>
                                            <%= profileInfo[0].email %>
                                        </li>
                                        <li class="list-group-item border-0 text-black-50"><i
                                                class="fa-brands fa-twitter me-3"></i>
                                            <%= profileInfo[0].twitter %>
                                        </li>
                                        <li class="list-group-item border-0  text-black-50"><i
                                                class="fa-brands fa-facebook me-3"></i>
                                            <%= profileInfo[0].facebook %>
                                        </li>
                                        <li class="list-group-item border-0 text-black-50"><i
                                                class="fa-brands fa-linkedin me-3"></i>
                                            <%= profileInfo[0].linkedin %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- pagination -->
                <div class="col-md-7 col-lg-8">
                    <!-- postbox -->
                    <%- include('../views/postBox'); %>

                        <% for(var i=0;i<data.length ; i++){ %>
                            <div class="card my-4">
                                <div class=" card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="d-flex align-items-center">
                                                <img src="<%= profileInfo[0].image %>" class="rounded-circle me-2 mt-0"
                                                    alt="profile picture" width="80" height="80">
                                                <div class="text-gray" style="line-height:1em">
                                                    <h5 class="card-title mb-0">
                                                        <%= profileInfo[0].name %>
                                                    </h5>
                                                    <i class="fa-solid fa-shop"></i>
                                                    <a href="#"
                                                        class="text-muted d-inline-block text-decoration-none mb-2"><small>
                                                            <%=data[data.length-i-1].category%>
                                                        </small></a>
                                                    <br>
                                                    <i class="fa-solid fa-location-dot"></i>
                                                    <p class="card-subtitle mb-2 text-muted d-inline-block">
                                                        <small>
                                                            <%=data[data.length-i-1].location%>
                                                        </small>
                                                    </p>
                                                    <br>
                                                    <i class="fa-solid fa-clock"></i>
                                                    <p class="card-subtitle mb-2 text-muted d-inline-block"><small>
                                                            <%= new
                                                                Date(data[data.length-i-1].postTime).toLocaleString() %>
                                                        </small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 text-end">

                                            <!-- Form fields and content -->
                                            <button class="btn btn-danger"
                                                onclick="myFunction(<%= data[data.length-i-1].postId %>)"><i
                                                    class="fa-solid fa-trash"></i>
                                            </button>


                                        </div>
                                        <div class="mx-3">
                                            <p class="card-text p-5">
                                                <%=data[data.length-i-1].text%>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../views/footer'); %>
    </footer>

    <script>
        function myFunction(id) {
            let text = "Are you sure you want to delete this post?";
            if (confirm(text) == true) {
                fetch(`/jobPosterProfile/delete/${id}`, {
                    method: 'GET'
                });
                window.location.reload();
            }
        }
    
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>